{% comment %} {% extends 'home.html' %}

{% load static %}

{% block title %} Login {% endblock %}

{% block content %}  

    <h1 class="text-center my-5">LOG IN</h1>
    <div class="container text-center w-25 bg-white my-5 p-5">
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary my-5 w-25">Log In</button>
        <p>Don't have an account? <a href="{% url 'register' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign Up</a></p>
      </form>
    </div>
{% endblock %} {% endcomment %}