<!-- --new -->
{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block content %}
    <h1 class="text-center my-3"> WEATHER </h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city">
        <button type="submit">Search</button>
    </form>
    {% if city %}
        <h3>{{ city }} ({{ country_code }})</h3>
        <p>Coordinates : {{ coordinate }}</p>
        <p>Temperature : {{ temp }}</p>
        <p>Pressure : {{ pressure }}</p>
        <p>Humidity : {{ humidity }}</p>
        <p>Time : {{ time }}</p>
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}